*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(177, 173, 234); */
    /* background: url("mathematics.jpg") ; */
    font-family: sans-serif;
    outline: none;
    /* z-index: 3; */
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    /* background-color: rgb(141, 133, 240); */
    background-color:rgb(68, 48, 140);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #4e3186,
                       5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 271px;
    background-color:rgb(177, 173, 234);
    box-shadow: inset -5px -5px 12px rgb(108, 97, 171),
                inset 5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 30px;
    color: rgb(75, 37, 155);
    font-size: 50px;
    text-align: end;
    margin:auto;
    margin-top: 40px;
    margin-bottom:30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color:rgb(177, 173, 234);
    box-shadow: -5px -5px 12px rgb(52, 41, 109),
                 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 10px; 
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color:rgb(177, 173, 234);
    box-shadow: -5px -5px 12px rgb(25, 18, 67),
                 5px 5px 12px rgba(0,0,0,.16);

}
.head {
    background: url("mathematics.jpg");
    z-index: 3;
}
